{% extends 'base.html' %}

{% block content %}
    <h3>{{user.full_name()}} </h3>
    <form><button formaction="/users" formmethod="GET"> Go Back to Users </button></form>
    <img src="{{user.image_url}}">

    <form action="/users/{{user.id}}/edit" >
        <button>Edit User</button>
        <button formaction="/users/{{user.id}}/delete" formmethod="POST">Delete User</button>
    </form>

    {% if posts %}
        <h3>Posts: </h3>
        {% for post in posts %}
            <ul>
                <li><a href="/posts/{{post.id}}"> {{ post.title }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
    <form action="/users/{{ user.id }}/posts/new">
        <button>Add Post</button>
        
    </form>
{% endblock %}