{% extends 'base.html' %}

{% block content %}
    <h3>{{user.full_name()}} </h3>
    <img src="{{user.image_url}}">
    <form action="/users/{{user.id}}/edit" >
        <button>Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete</button>
    </form>

    {% if POSTS!!!!! %}
        <h3>Posts</h3>
        {% for post in user.posts %}
            <ul>
                <li>{ post }</li>
            </ul>
        {% endfor %}
        <form action="/users/{{ user.id }}/posts/new" method="POST">
            <button>Add Post</button>
        </form>
    {% endif %}

{% endblock %}